<p>
    XtractPDF features a simple REST API.
</p>

<h4 class='underline'>Rate Limiting</h4>

<p>
    While there is currently no authentication implemented for our API, PDF conversions
    are currently rate limited to <strong>10 per minute</strong>.
</p>

<p>
    You will receive a <code>503</code> HTTP response with a <code>Retry-After</code> header
    if you exceed this rate limit.
</p>

<h4 class='underline'>Quickstart</h4>

<ol>
    <li>
        Convert a PDF by sending a <var>multipart/data</var> POST request to <var>{{ site_url }}/extract</var>
        <pre><code>POST /scholar2text/webapp/extract HTTP/1.1
Accept: application/json
Content-Type: multipart/form-data; boundary=----WebKitFormBoundaryz1uALq8KdpPR7FDI
Accept-Charset: utf-8;q=1.0,*;q=0.3

------WebKitFormBoundaryz1uALq8KdpPR7FDI
Content-Disposition: form-data; name="pdffile"; filename="SOMEDF.pdf"
Content-Type: application/pdf


------WebKitFormBoundaryz1uALq8KdpPR7FDI
Content-Disposition: form-data; name="engine"

poppler
------WebKitFormBoundaryz1uALq8KdpPR7FDI--</code></pre>
    </li>
    <li>Wait a few seconds (conversion can take a few seconds)</li>
    <li>
        Receive a JSON response back from the server:
<pre><code>{
    "pdfurl": "{{ site_url }}/pdf/23482034013032345.pdf",
    "txt"   : "The contents of the PDF converted into text",
    "engine": "PDFMiner",
    "time"  : 3.05
}</code></pre>
    </li>
    <li>
        Optionally download the original PDF via the one-time <var>pdfurl</var> link: {{ site_url }}/pdf/23482034013032345.pdf
    </li>
</ol>

<h4 class='underline'>Get information and list available extraction engines</h4>

<table class='table'>
    <tbody>
        <tr>
            <th scope='row'>Endpoint</th>
            <td><code>GET {{ site_url }}/</code></td>
        </tr>

        <tr>
            <th scope='row'>Content-Type</th>
            <td><code>application/json</code></td>
        </tr>

        <tr>
            <th scope='row'>Required Headers</th>
            <td><code>Accept: application/json</code></td>
        </tr>

        <tr>
            <th scope='row'>Parameters</th>
            <td><em>None</em></td>
        </tr>
        <tr>
            <th scope='row'><code>200</code> Response</th>
            <td>
                <pre><code>{
    "title"      : "XtractPDF",
    "description": "Extract text from PDFs",
    "engines"    : {
        "pdfminer": {
            "name"       : "PDFMiner",
            "description": "A Python library for extracting text from a PDF",
            "url"        : "http://www.unixuser.org/~euske/python/pdfminer/"
        }
        "poppler": {
            "name"       : "Poppler PDF to Text",
            "description": "A CLI PDF to Text Tool",
            "url"        : "http://poppler.freedesktop.org/"
        }
    }
}</code></pre>
            </td>
        </tr>

    </tbody>
</table>

<h4 class='underline'>Upload and convert a PDF</h4>

<table class='table'>
    <tbody>
        <tr>
            <th scope='row'>Endpoint</th>
            <td><code>POST {{ site_url }}/extract</code></td>
        </tr>

        <tr>
            <th scope='row'>Content-Type</th>
            <td><code>application/json</code></td>
        </tr>

        <tr>
            <th scope='row'>Parameters</th>
            <td>
                <table class='table table-condensed'>
                    <tr><td>string</td> <td><strong>engine</strong></td></tr>
                    <tr><td>file</td>   <td><strong>pdffile</strong></td></tr>
                </table>
            </td>
        </tr>

        <tr>
            <th scope='row'>Required Headers</th>
            <td><code>Content-Type: multipart/form-data</code><br/><code>Accept: application/json</code></td>
        </tr>

        <tr>
            <th scope='row'><code>200</code> Response</th>
            <td>
                <pre><code>{
    "pdfurl": "{{ site_url }}/12345678987654.pdf",
    "txt"   : "Hello World\nThis is the text from the PDF"
    "engine": "pdfminer",
    "time"  : 3.26
}</code></pre>
            </td>
        </tr>

        <tr>
            <th scope='row'><code>400</code> Response</th>
            <td>
                <pre><code>{
    "messages": [
        "Invalid File",
        "File too Large",
        "More error messages..."
    ]
}</code></pre>
            </td>
        </tr>

        <tr>
            <th scope='row'><code>500</code> Response</th>
            <td>
                <pre><code>{
    "messages": [
        "An internal error has occured"
    ]
}</code></pre>
            </td>
        </tr>


    </tbody>
</table>

<h4 class='underline'>Retrieve original PDF via one-time link</h4>

<table class='table'>
    <tbody>
        <tr>
            <th scope='row'>Endpoint</th>
            <td><code>GET {{ site_url }}/pdf/[ID]</code></td>
        </tr>

        <tr>
            <th scope='row'>Content-Type</th>
            <td><code>application/pdf</code> <em>(success)</em> or <code>application/json</code> <em>(error)</em></td>
        </tr>

        <tr>
            <th scope='row'>Parameters</th>
            <td><code>Accept: application/pdf, application/json;q=9</code></td>
        </tr>

        <tr>
            <th scope='row'>Required Headers</th>
            <td><em>None</em></td>
        </tr>


        <tr>
            <th scope='row'><code>200</code> Response</th>
            <td>The PDF Data</td>
        </tr>

        <tr>
            <th scope='row'><code>410</code> Response</th>
            <td>
                <pre><code>{
    "messages": [
        "PDF file gone.  PDF files are deleted immediately upon first viewing, or after five minutes"
    ]
}</code></pre>
            </td>
        </tr>

        <tr>
            <th scope='row'><code>500</code> Response</th>
            <td>
                <pre><code>{
    "messages": [
        "An internal error has occured"
    ]
}</code></pre>
            </td>
        </tr>


    </tbody>
</table>
