<script type='text/javascript'>

$(document).ready(function() {

    //
    // Auto-submit form every 5 seconds if dirty
    //
    setInterval("submitWsForm()", 5000);

    //
    // Submit form on exit if dirty
    //
    $(window).unload("submitWsForm()");

    //
    // Mark Complete Submit
    //
    $('#ws-mc-form').ajaxForm({
        dataType:     'json',
        data: {'mark': true },
        success: function(responseText, statusText, xhr, jq) {
            console.log(responseText);
        },
        error: function(jqXHR, textStatus, errorThrown) {
        }        
    });

    $('#ws-mc-form :input').change(function() {
        $('#ws-mc-form').submit();
    });

    //
    // Content Submit
    //
    $('#ws-form').ajaxForm({
        dataType:     'json',
        beforeSubmit: function(arr, $form, options) {

            //Convert sectionsandparagraphs to JSON object
            var secsAndParagraphs = [];
            var thisSection = { title: '', paragraphs: []};

            $.each($form.find(':input[name="secsandparagraphs[]"]'), function(k, v) {

                if ($(v).attr('class') == 'section-head') {
                    //Save last section
                    if (thisSection.title != '' || thisSection.paragraphs.length > 0) {
                        secsAndParagraphs.push(thisSection);
                    }
                    //Reset thisSection
                    thisSection = { title: $(v).val(), paragraphs: []};
                }
                else { //its a paragraph
                    thisSection.paragraphs.push($(v).val());
                }
            });

            arr.push({name: 'content', value: JSON.stringify(secsAndParagraphs) });
        },
        success: function(responseText, statusText, xhr, jq) {
        },
        error: function(jqXHR, textStatus, errorThrown) {
        }         
    });

    //
    // On form change, set form to dirty
    //
    $('#ws-form').on('change', '.input-item :input', function() {
        $('#ws-form').addClass('dirty');
    });

    //
    // Workspace click 'move' button (sortable list)
    // Set form 'dirty' on change list order
    //
    $("#ws-form .form-rows.sortable").sortable({
        handle: ".input-actions > .icon-move",
        cursor: "move",
        change: function(event, ui) {
            $('#ws-form').addClass('dirty');            
        }
    });

    //
    // Workspace click 'add' button
    //
    $('#ws-form').find('.form-rows .input-actions i.icon-plus').click(function() {
        var newItem = $(this).parents('li.form-row').clone(true);
        $(newItem).find('.input-item :input').val('');
        $(this).parents('li.form-row').after(newItem);
    });

    //
    // Workspace click 'delete' button
    //
    $('#ws-form').find('.form-rows .input-actions i.icon-remove').dblclick(function() {
        if ($(this).parents('ul.form-rows').children('li.form-row').size() == 1) {
            $(this).parents('li.form-row').find('.input-item :input').val("");
        }
        else {
            $(this).parents('li.form-row').remove();
        }
    });    

    //
    // Autosize textareas
    //
    $('#ws-form .form-rows .input-item textarea').autosize();

    //
    // On Paste Event
    //
    $('#ws-form .form-rows').on('paste', '.input-item textarea', function() {
        var element = this;
        setTimeout(function () {
            var text = $(element).val();
            text = text.replace(/(\r\n|\n|\r)/gm," ");
            text = text.replace(/\s{2,}/g," ");
            $(element).val(text).trigger('autosize');
        }, 100);

    });
});

// ------------------------------------------------------------------

function submitWsForm() {
    if ($('#ws-form').hasClass('dirty')) {

        $('#ws-form').removeClass('dirty');
        $('#ws-form').submit();
    }
}

</script>


<div id='workspace' class='ws-{{ doc.uniqId }}'>
    <div class='ws-top'>

        <span class='pull-right'>
            <form class='ws-mc-form' id='ws-mc-form' action='{{ url('ws-docupdate', { id: doc.uniqId }) }}' method='post'>
                <label><input type='checkbox' name='isComplete' /> Completed</label>
            </form>
            <a href='#' class='btn btn-mini' title='Export as JATS'><i class="icon-share-alt"></i> Export (JATS)</a>
        </span>

        <ul class="nav nav-tabs">
            <li><a href="#ws-form-pane" data-toggle="tab">Edit</a></li>
            <li><a href="#ws-xml-pane" data-toggle="tab">XML</a></li>
        </ul>
    </div>

    <div class='tab-content'>

        <div class="tab-pane active" id="ws-form-pane">
                
            <form class='ws-form' id='ws-form' action='{{ url('ws-docupdate', { id: doc.uniqId }) }}' method='post'>

                {# Meta #}
                <fieldset class='ws-form-biblio-meta'>
                    <legend>Bibliographic Metadata</legend>

                    <ul class='form-rows'>
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Title</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('title') }}' name='meta[title]' placeholder='e.g. Title of Paper' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>DOI</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('doi') }}' name='meta[doi]' placeholder='e.g. 10.1186/1471-244X-13-25' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'><abbr title='Pubmed ID'>PMID</abbr></span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('pmid') }}' name='meta[pmid]' placeholder='e.g. 234567890' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>ISBN</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('isbn') }}' name='meta[isbn]' placeholder='e.g. 1234-5679X' />
                                </span>
                            </label>
                        </li>                                                         

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Journal</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('journal') }}' name='meta[journal]' placeholder='e.g. Title of Journal' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>ISSN</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('issn') }}' name='meta[issn]' placeholder='e.g. 1234-567A' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Volume</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('volume') }}' name='meta[volume]' placeholder='e.g. 23' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Issue</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('issue') }}' name='meta[issue]' placeholder='e.g. 17' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Start Page</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('startPage') }}' name='meta[startPage]' placeholder='e.g. 123' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>EndPage</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('endPage') }}' name='meta[endPage]' placeholder='e.g. 456' />
                                </span>
                            </label>
                        </li>

                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Year</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ doc.getMeta('year') }}' name='meta[year]' placeholder='e.g. 2003' />
                                </span>
                            </label>
                        </li>
                    </ul>                               
                </fieldset>

                {# Meta - Authors #}
                <fieldset class='ws-form-authors'>
                    <legend>Authors</legend>

                    <ul class='form-rows sortable'>
                        {% for n, author in doc.getMeta('authors') %}
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Author</span>
                                <span class='input-item'>
                                    <input type='text' value='{{ author.name }}' name='authors[]' placeholder='Author Name' />
                                </span>

                                <span class='input-actions'>
                                    <i class='icon-move' title='Move'></i>
                                    <i class='icon-plus' title='Add Author'></i>                            
                                    <i class='icon-remove' title='Remove Author'></i>
                                </span>                        
                            </label>
                        </li>     
                        {% endfor %}

                        {# Blank Row #}
                        {% if doc.getMeta('authors')|length == 0 %}
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Author</span>
                                <span class='input-item'>
                                    <input type='text' value='' name='authors[]' placeholder='Author Name' />
                                </span>

                                <span class='input-actions'>
                                    <i class='icon-move' title='Move'></i>
                                    <i class='icon-plus' title='Add Author'></i>                            
                                    <i class='icon-remove' title='Remove Author'></i>
                                </span>      
                            </label>
                        </li>
                        {% endif %}
                    </ul>

                </fieldset>

                {# Main Content #}
                <fieldset class='ws-form-content'>
                    <legend>Content</legend>

                    <ul class='form-rows sortable'>
                        {% for n, section in doc.content.sections %}
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Heading</span>
                                <span class='input-item'>
                                    <input type='text' placeholder='Section Title' name='secsandparagraphs[]' class='section-head' value='{{ section.title }}' />
                                </span>

                                <span class='input-actions'>
                                    <i class='icon-move' title='Move'></i>
                                    <i class='icon-plus' title='Add Section Heading'></i>                            
                                    <i class='icon-remove' title='Remove section heading'></i>
                                </span>  
                            </label>
                        </li>

                            {% for np, para in section.paragraphs %}
                            <li class='form-row'>
                                <label>
                                    <span class='input-label'>Paragraph</span>
                                    <span class='input-item'>
                                        <textarea placeholder='Content' name='secsandparagraphs[]' class='paragraph'>{{ para.content }}</textarea>
                                    </span>

                                    <span class='input-actions'>
                                        <i class='icon-move' title='Move'></i>
                                        <i class='icon-plus' title='Add Paragraph'></i>                            
                                        <i class='icon-remove' title='Remove Paragraph'></i>
                                    </span>
                                </label>                        
                            </li>          
                            {% endfor %} {# Paragraphs #}

                            {% if section.paragraphs|length == 0 %}
                            <li class='form-row'>
                                <label>
                                    <span class='input-label'>Paragraph</span>
                                    <span class='input-item'>
                                        <textarea placeholder='Content' name='secsandparagraphs[]' class='paragraph'></textarea>
                                    </span>

                                    <span class='input-actions'>
                                        <i class='icon-move' title='Move'></i>
                                        <i class='icon-plus' title='Add Paragraph'></i>                            
                                        <i class='icon-remove' title='Remove Paragraph'></i>
                                    </span>
                                </label>                        
                            </li>   
                            {% endif %}

                        {% endfor %} {# Sections #}

                        {# Blank Section #}
                        {% if doc.content.sections|length == 0 %}
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Heading</span>
                                <span class='input-item'>
                                    <input type='text' value='' name='secsandparagraphs[]' class='section-head' placeholder='Section Title' />
                                </span>

                                <span class='input-actions'>
                                    <i class='icon-move' title='Move'></i>
                                    <i class='icon-plus' title='Add Section'></i>                            
                                    <i class='icon-remove' title='Remove Section'></i>
                                </span>
                            </label>
                        </li>
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Paragraph</span>
                                <span class='input-item'>
                                    <textarea placeholder='Content' name='secsandparagraphs[]' class='paragraph'></textarea>
                                </span>

                                <span class='input-actions'>
                                    <i class='icon-move' title='Move'></i>
                                    <i class='icon-plus' title='Add Paragraph'></i>                            
                                    <i class='icon-remove' title='Remove Paragraph'></i>
                                </span>
                            </label>                        
                        </li>                           
                        {% endif %}
                    </ul>
                </fieldset>


                {# Citations #}
                <fieldset class='ws-form-citations'>
                    <legend>Citations</legend>

                    <ul class='form-rows sortable'>
                    {% for n, cite in doc.citations %}
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Citation</span>
                                <span class='input-item'>
                                    <textarea name='citations[]' placeholder='Citation Content'>{{ cite.content }}</textarea>
                                </span>

                                <span class='input-actions'>
                                    <i class='icon-move' title='Move'></i>
                                    <i class='icon-plus' title='Add Citation'></i>                            
                                    <i class='icon-remove' title='Remove Citation'></i>
                                </span>
                            </label>                          
                        </li>                     
                        {% endfor %}

                        {# Blank Row #}
                        {% if doc.citations|length == 0 %}
                        <li class='form-row'>
                            <label>
                                <span class='input-label'>Citation</span>
                                <span class='input-item'>
                                    <textarea name='citations[]' placeholder='Citation Content'></textarea>
                                </span>

                                <span class='input-actions'>
                                    <i class='icon-move' title='Move'></i>
                                    <i class='icon-plus' title='Add Citation'></i>                            
                                    <i class='icon-remove' title='Remove Citation'></i>
                                </span>                             
                            </label>
                        </li>
                        {% endif %}
                    </ul>
                </fieldset>
            </form>
        </div>

        {# XML OUTPUT #}
        <div class="tab-pane" id="ws-xml-pane">
            <pre class="prettyprint lang-xml">
&lt;ADD&gt;
&lt;this&gt;
  &lt;when&gt;
    &lt;ready&gt;Demo | Prettify.JS&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, World!&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;                
            </pre>
        </div>

    </div>

</div>