<div id='workspace'>
    <div class='ws-top'>

        <span class='pull-right'>
            <a href='#' class='btn btn-mini' title='Export as JATS'><i class="icon-share-alt"></i> Export (JATS)</a>
        </span>

        <ul class="nav nav-tabs">
            <li><a href="#ws-form" data-toggle="tab">Edit</a></li>
            <li><a href="#ws-xml" data-toggle="tab">XML</a></li>
        </ul>
    </div>

    <div class='tab-content'>

        <div class="tab-pane active" id="ws-form">
                
            <form class='ws-form' action='{{ url('ws-docupdate', { id: doc.uniqId }) }}' method='post'>

                <fieldset class='ws-form-biblio-meta'>
                    <legend>Bibliographic Metadata</legend>

                    <div class='form-row'>
                        <label for='ws-form-title'>Title</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-title' value='{{ doc.getMeta('title') }}' />
                        </span>
                    </div>

                    <div class='form-row'>
                        <label for='ws-form-doi'>DOI</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-doi' value='{{ doc.getMeta('doi') }}' />
                        </span>
                    </div>


                    <div class='form-row'>
                        <label for='ws-form-journal'>Journal</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-journal' value='{{ doc.getMeta('journal') }}' />
                        </span>
                    </div>

                    <div class='form-row'>
                        <label for='ws-form-pmid'><abbr title='Pubmed ID'>PMID</abbr></label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-pmid' value='{{ doc.getMeta('pmid') }}' />
                        </span>
                    </div>

                    <div class='form-row'>
                        <label for='ws-form-isbn'>ISBN</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-isbn' value='{{ doc.getMeta('isbn') }}' />
                        </span>
                    </div>

                    <div class='form-row'>
                        <label for='ws-form-journal'>Journal</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-journal' value='{{ doc.getMeta('journal') }}' />
                        </span>
                    </div>                                                            

                    <div class='form-row'>
                        <label for='ws-form-startPage'>Start Page</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-startPage' value='{{ doc.getMeta('startPage') }}' />
                        </span>
                    </div>

                    <div class='form-row'>
                        <label for='ws-form-endPage'>EndPage</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-endPage' value='{{ doc.getMeta('endPage') }}' />
                        </span>
                    </div>

                    <div class='form-row'>
                        <label for='ws-form-year'>Year</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-year' value='{{ doc.getMeta('year') }}' />
                        </span>
                    </div>                                   

                    <div class='form-row'>
                        <label for='abstract'>Abstract</label>

                        <span class='input-item'>
                            <textarea id='ws-form-abstract'>{{ doc.getMeta('abstract') }}</textarea>
                        </span>
                    </div>   

                </fieldset>

                <fieldset class='ws-form-authors'>
                    <legend>Authors</legend>

                    {% for n, author in doc.getMeta('authors') %}

                    <div class='form-row'>
                        <label for='ws-form-author-{{ n }}'>Author</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-author-{{ n }}' value='{{ author.name }}' />
                        </span>
                    </div>     

                    {% endfor %}
                </fieldset>

                <fieldset class='ws-form-content'>
                    <legend>Content</legend>

                    {% for n, section in doc.sections %}

                    <div class='form-row'>
                        <label for='ws-form-section-{{ n }}'>Heading</label>

                        <span class='input-item'>
                            <input type='text' id='ws-form-section-{{ n }}' value='{{ section.title }}' />
                        </span>

                       <span class='input-actions'>
                            <i class='icon-arrow-up' title='Move section up'></i>
                            <i class='icon-arrow-down' title='Move section down'></i>
                            <i class='icon-plus' title='Add paragraph'></i>                            
                            <i class='icon-remove-sign' title='Remove section heading'></i>
                        </span>

                    </div>

                    {% for np, para in section.paragraphs %}

                    <div class='form-row'>
                        <label for='ws-form-paragraph-{{ n ~ '.' ~ np }}'>Paragraph</label>

                        <span class='input-item'>
                            <textarea id='ws-form-paragraph-{{ n ~ '.' ~ np }}'>{{ para.content }}</textarea>
                        </span>
                    </div>          
                    {% endfor %} {# Paragraphs #}

                    {% endfor %} {# Sections #}

                </fieldset>

                <fieldset class='ws-form-citations'>
                    <legend>Citations</legend>
                    <div class='form-row'>
                        <label for='Journal'>Citation</label>

                        <span class='input-item'>
                            <textarea></textarea>
                        </span>
                    </div>                     
                </fieldset>


            </form>


        </div>


        {# XML OUTPUT #}
        <div class="tab-pane" id="ws-xml">
            <pre class="prettyprint lang-xml">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Demo | Prettify.JS&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, World!&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;                
            </pre>
        </div>

    </div>

</div>